
.products {
    width: 90%;
    margin: 0 auto;
    max-width: 1240px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    transition: all 0.5s;
}
.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-body {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 2rem;
    transform: translateX(101%);
    transition: all 0.5s ease; 
    cursor: pointer;
}
.card:hover .card-body{
    transform: translateX(0);
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
}
.btn-outline-success:hover, .btn-outline-warning:hover {
    transform: scale(1.1);
}
/* Small Screen */
@media(max-width: 499px) {

}
/* Large Screen */
@media(min-width: 500px) {
    
}



